.nav-link {
  font-size: large;
  cursor: pointer;
}

.price {
  color: black;
  font-size: 18px;
}

.discount {
  color: green;
  font-weight: bold;
  font-size: 18px;
}

.finalPrice {
  color: black;
  font-weight: bold;
  font-size: 22px;
}

.order{
  text-align: right;
  padding-right: 17%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  /* margin-left: 2em; */
  margin-right: 2em;
}

.finalMessage{
  padding:15px;
  color: black;
  font-weight: bold;
  font-size: 22px;
}