<nav class="navbar navbar-expand">
  <ul class="nav nav-pills">
    <li><a class="nav-link" (click)="loadHomePage()">Home</a></li>
  </ul>
</nav>

<!-- Lista de sanduiches -->
<div class="row" *ngIf="!selectedBurger">
  <div class="col-sm-3" *ngFor="let hamburger of hamburgers">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ hamburger.name }}</h5>
        <button type="button" class="btn btn-primary" (click)="selectBurger(hamburger)">Selecionar</button>
      </div>
    </div>
  </div>
</div>
<!-- Fim da lista de sanduiches -->

<!-- Lista de ingredientes -->
<table *ngIf="selectedBurger && !ordered">
  <tr>
    <th class="b-0">Ingrediente</th>
    <th class="b-0">Preço unitário</th>
    <th class="b-0">Quantidade</th>
    <th class="b-0">Preço Final</th>
  </tr>
  <tr *ngFor="let ingredient of ingredients">
    <td>{{ ingredient.name }}</td>
    <td>{{ ingredient.price | currency: "BRL":true:"1.2-2" }}</td>
    <td>
      <button class="btn btn-primary" (click)="decreaseAmount(ingredient)">
        -
      </button>
      {{ ingredient.quantity }}
      <button class="btn btn-primary" (click)="increaseAmount(ingredient)">
        +
      </button>
    </td>
    <td class="text-right">{{
          getTotalIngredientPrice(ingredient.quantity, ingredient.price)
            | currency: "BRL":true:"1.2-2"}}
    </td>
  </tr>
<!-- Fim da lista de ingredientes -->

<tr class="price" *ngIf="discount>0">
    <td colspan="3" >Preço:</td>
    <td colspan="4">{{ getPrice() | currency: "BRL":true:"1.2-2" }}</td>
  </tr>
  <tr class="discount" *ngIf="discount>0">
    <td colspan="3" >Desconto:</td>
    <td colspan="4">{{ discount | currency: "BRL":true:"1.2-2" }}</td>
  </tr>
  <tr class="finalPrice">
    <td colspan="3" >Preço Final:</td>
    <td colspan="4">{{ getPrice()-discount | currency: "BRL":true:"1.2-2" }}</td>
  </tr>
  <tr>
    <td colspan="4" class="order">
      <button class="btn btn-danger" (click)="toggleOrdered()">Pedir</button>
    </td>
  </tr>
</table>

<p class="finalMessage" *ngIf="ordered">Pedido realizado com sucesso!</p>